@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing: border-box;
}


body{
    background-color: #e1e1e1;
    font-family: 'Muli', sans-serif;
    padding: 0%;
    margin: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;

}

.key{
    border: 2px solid #999;
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    display: inline-flex;
    align-items: center;
padding: 20px 20px;
    font-size: 20px;
    flex-direction: column;
    margin: 10px;
    min-width: 150px;
    position: relative;
}

.key small{
    position: absolute;
    text-align: center;
    width: 100%;
    top: -25px;
    color: #555;
    font-size: 14px;
}